*{
    padding: 0;
    margin: 0;
}
p{
    color: red;
}
#container{
    height: 100px;
    color: rgb(169, 21, 214);
    width: 100px;
    background-color: red;
    border: 5px solid rgb(226, 57, 161);
    background-image: url(../images/1.jpg);
    background-size:100% 100%;  
    /* background-repeat:no-repeat; */
}